:root {
  --brand-color: #01c3ff;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: #f0f1f1;
}

#brand-name {
  font-weight: bold;
  color: var(--brand-color);
  font-size: 1.2em;
}

#nav {
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(20px);
}


#content {
  margin-top: 5em;
}
